title {
  font-size: 200px,
  color: red;
}
p {
  color: red;
}
.container{
  font-size: 200px,
  color: blue;
}


input.formbtn{
  color: red;
  font-size: 200px;
  width:1000px;
  height:1000px;
  
}

.kekka{
  font-size: 400px,
  color: blue;
}

