.container{
  background-color: #a0c3f7;
  /*height: 80px;
  line-height: 80px;*/
}

h1{
  color: blue;
  font-size: 50px;
  background-color: #a0c3f7;
  
}


input.formbtn{
  color: red;
  font-size: 100px;
  background-color: #a0c3f7;
}

h2{
  color: red;
  font-size: 50px;
  background-color: #a0c3f7;
  
}

h3{
  color: red;
  font-size: 50px;
  background-color: #ffffe0;
}

h4{
  color: blue;
  font-size: 50px;
  background-color: #ffffe0;
}

